<h2>City Name: <%= @city.name %></h2>

<h3>Trains:</h3>
<% if @city.trains != [] %>
  <ul>
    <% @city.trains.each do |train| %>
      <li><a href="/cities/<%= @city.id %>/trains/<%= train.id %>"><%= train.destination %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no trains listed for this city yet.</p>
<% end %>

<h4>Add a train:</h4>

<form action="/cities/<%= @city.id %>/trains" method="post">
  <div class="form-group">
    <label for="destination_input">Destination</label>
    <input id="destination_input" name="destination_input" class="form-control" type="text">
    <label for="time_input">Time</label>
    <input id="time_input" name="time_input" class="form-control" type="text">
    <label for="time2_input">Time 2</label>
    <input id="time2_input" name="time2_input" class="form-control" type="text">
    <label for="time3_input">Time 3</label>
    <input id="time3_input" name="time3_input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add train</button>
</form>

<p><a href="/cities/<%= @city.id %>/edit">Edit city</a></p>
<a href="/cities">Return to city list</a>
